html {
    background-color: #6E07F3;
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#header {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.menu-button {
    width: 100px;
    height: 50px;
    background-color: #5BE9B9;
    color: #141c3a;
    font-size: 1.3rem;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
    border: none;
    margin: 10px;
}
.menu-button:hover {
    background-color: #141c3a;
    color: #5BE9B9;
}

h1 {
    color: #dee5e4;
    font-size: 40px;
    margin: auto;
    transform: translate(-75px);
}

#playWindow {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

#myCanvas {
    border-radius: 40px;
    margin: 40px;
    border: solid #141c3a 5px;
    margin-top: 0px;
  }

.sidebar {
    width: 20%;
    background-color: #dee5e4;
    border: solid #141c3a 5px;
    display: flexbox;
    justify-content: center;
    border-radius: 30px;
    height: 600px;

}

.sidebar-button {
    width: 95%;
    height: 50px;
    margin-top: 5px;
    font-size: 20px;
    border-radius: 100px;
    border: none;
    background-color: #141c3a;
    color: #dee5e4;
    transition: .25s;
}
.sidebar-button:hover {
    border: solid #6E07F3 3px;
    background-color: #dee5e4;
    color: #6E07F3;
}
