@font-face {
  font-family: oldFont;
  src: url(WindowsRegular.ttf);
}

body{
  margin: 0;
  background-color: #008080;
  font-family: 'oldFont';
}

.icon{
  position: absolute;
  text-align: center;
  width: 80px;
  height: 80px;
  color: #FFF;
  text-shadow: 1px 1px 2px #000;
}
.icon:hover {
  cursor: pointer;
  background-color: rgba(100, 100, 150, 0.5)
}

#project-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.project-item {
  background-color: #c0c0c0;
  border-left: 2px solid #ededed;
  border-top: 2px solid #ededed;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;
  text-align: center;
  width: 350px;
  height: 330px;
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;
  display: none;
}

.project-item-header {
  text-shadow: 1px 1px 2px #000;
  background-color: #000080;
  color: #FFF;
  height: 20px;
  padding: 0.2em 0.2em;
  margin: 2px;
  border-bottom: 5px solid #c0c0c0;
  justify-content: end;
  text-align: left;
  align-content: center;
  z-index: 10;
  cursor: move;
}

.close-button {
  background-color: #c0c0c0;
  float: right;
  margin: 2px;
  border-left: 2px solid #ededed;
  border-top: 2px solid #ededed;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;
  cursor: pointer;
}
.close-button:active {
  border-left: 2px solid #404040;
  border-top: 2px solid #404040;
  border-right: 2px solid #ededed;
  border-bottom: 2px solid #ededed;
  transform:translate3d(0,1px,0);
}

.project-image {
  height: auto;
  width: auto;
  height: 150px;
  width: 300px;
}

.project-button {
  font-family: 'oldFont';
  background-color: #c0c0c0;
  color: #000;
  border-left: 2px solid #ededed;
  border-top: 2px solid #ededed;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;
  font-size: 20px;
  margin: 10px;
}
.project-button:active {
  border-left: 2px solid #404040;
  border-top: 2px solid #404040;
  border-right: 2px solid #ededed;
  border-bottom: 2px solid #ededed;
  transform: translate(0, 1px);
}

footer{
  height: 40px;
  width: 100%;
  background-color: #c0c0c0;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

#footer-left {
  display: flex;
  align-items: center;
}

#footer-right {
  display: flex;
}

.footer-tab {
  width: 100px;
  height: 30px;
  margin-left: 5px;
  border-left: 2px solid #ededed;
  border-top: 2px solid #ededed;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;
  box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.language {
  height: 80%;
  align-self: center;
  margin: 3px;
  margin-left: 0;
  align-items: center;
}
