@font-face {
  font-family: oldFont;
  src: url(WindowsRegular.ttf);
}

body{
  margin: 0;
  background-color: #008080;
  font-family: 'oldFont';
}

#menuBar {
  width: 100%;
  height: 80px;
  color: white;
  display: flex;
}

#menu-button {
  justify-content: right; 
  width: 90%; 
  display: flex;
}

.home-button {
  height: 100%;
  background-color: #008080;
  color: white;
  border: none;
  padding: 1.2em;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  justify-self: right;
}

.home-button:hover {
  background-color: white;
  color: #008080;
}

#project-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.project-item {
  background-color: #c0c0c0;
  border: 5px solid #c0c0c0;
  text-align: center;
  width: 350px;
  height: 330px;
  margin-top: 20px;
  margin-left: 20px;
}

.project-item-header {
  background-color: #000080;
  color: #FFF;
  height: 20px;
  padding: 0.2em 0.2em;
  border-bottom: 5px solid #c0c0c0;
  justify-content: end;
  text-align: left;
  align-content: center;
}

.project-item-body {
  padding: 10px;
}

.close-button {
  background-color: #c0c0c0;
  float: right;
  margin: 2px;
  border-left: 2px solid #ededed;
  border-top: 2px solid #ededed;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;
}

.close-button:active {
  border-left: 2px solid #404040;
  border-top: 2px solid #404040;
  border-right: 2px solid #ededed;
  border-bottom: 2px solid #ededed;
  transform:translate3d(0,1px,0);
}

.project-image {
  height: auto;
  width: auto;
  height: 150px;
  width: 300px;
}

.project-button {
  font-family: 'oldFont';
  background-color: #c0c0c0;
  color: #000;
  border-left: 2px solid #ededed;
  border-top: 2px solid #ededed;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;
  font-size: 20px;
  margin: 10px;
}

.project-button:active {
  border-left: 2px solid #404040;
  border-top: 2px solid #404040;
  border-right: 2px solid #ededed;
  border-bottom: 2px solid #ededed;
  transform: translate(0, 1px);
}
