:root {
    --primary-color: #e2e2df;
    --secondary-color: #460b8e;
    --tertiary-color: #25064c;
    --font-color: #fff;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
    font-family: 'Ubuntu', 'sans-serif';
}

.menu-container {
    height: 100px;
    margin: 20px;
    margin-bottom: 0;
}

.menu-button {
    width: 100px;
    height: 50px;
    background-color: var(--secondary-color);
    color: var(--font-color);
    font-size: 1.3rem;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 0px 6px var(--tertiary-color) ;
    border: none;
}

.menu-button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 2px solid var(--tertiary-color);
}

.menu-button:active {
    transform: translate(0px, 6px);
    box-shadow: none;
}

#home-button {
    float: left;
}

#login-button {
    float: right;
}

.todo-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-item {
    background-color: var(--secondary-color);
    color: var(--font-color);
    width: 500px;
    height: 50px;
    margin: 10px;
    border: 3px solid var(--secondary-color);
    transition: .2s;
    font-size: 20px;
    border-radius: 100px;
    display: flex;
}

#add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 506px;
    height: 56px;
    border-radius: 100px;
    box-shadow: 0px 6px var(--tertiary-color) ;
}

#add-button:hover {
    cursor: pointer;
}

#add-button:active {
    transform: translate(0px, 6px);
    box-shadow: none;
}

.todo-item:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.todo-item-left {
    display: flex;
    justify-content: start;
    align-items:center;
    width: 50%;
    margin-left: 10px;
}

.todo-item-right {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10px;
}

.fa-solid{
    margin: 5px;
    margin-top: 0;
    z-index: 9;
}

.fa-solid:hover {
    cursor: pointer;
}



/*///////////////////////////////MODAL CSS///////////////////////////////////*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  }

  .modal-content {
    background-color: var(--secondary-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 400px; /* Could be more or less, depending on screen size */
    text-align: center;
    border-radius: 50px;
    box-shadow: -10px 10px var(--tertiary-color);
  }
  
  /* The Close Button */
  .close {
    font-size: large;
    width: 80px;
    height: 60px;
    border-radius: 20px;
    border: none;
  }

  #submit-information {
    background-color: rgb(93, 232, 93);
    box-shadow: 0px 6px rgb(16, 149, 16);
    margin-right: 10px;
  }
  #submit-information:hover {
    cursor: pointer;
    background-color: rgb(44, 236, 50);
  }
  #submit-information:active {
    transform: translate(0px, 6px);
    box-shadow: none;
  }

  #close-modal {
    background-color: rgb(240, 75, 75);
    box-shadow: 0px 6px rgb(215, 27, 6);
    cursor: pointer;
  }

  #close-modal:hover {
    background-color: rgb(181, 7, 7);
  }

  #close-modal:active {
    transform: translate(0px, 6px);
    box-shadow: none;
  }

  #title {
    width: 90%;
  }

  #description {
    width: 90%;
    height: 4rem;
  }
